html {
  height: 100%;
  box-sizing: border-box;
}

html * {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  font-family: 'SF-Pro-Display';
  font-weight: 400;
}

body.lock {
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, .30);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

body.lock2 {
  overflow: hidden;
}

/*start pin footer to bottom*/
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
}

.footer {
  flex: 0 0 auto;
}

/*end pin footer to bottom*/
.container {
  max-width: 1080px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

.swiper-products {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -65px;
    background-color: #fff;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    height: 100%;
    right: -65px;
    background-color: #fff;
    z-index: 2;
  }
}

.container-slider {
  max-width: 1190px;
  width: 100%;
  padding: 0px 60px;
  margin: 0 auto;
  overflow: hidden;
}

.container-xl {
  max-width: 1420px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

.suptitle {
  margin: 0 0 5px 0;
  color: #1B1B1B;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.title {
  color: #1B1B1B;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
}

h4.title {
  color: #1B1B1B;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
}

/*start breadcrumbs=========*/
.breadcrumbs {
  margin: 15px 0 0 0;
  background-color: transparent;

  &__inner {
    padding: 10px 0;
    overflow: hidden;
  }

  &__list {
    li {
      display: inline;
      position: relative;
      color: #1B1B1B;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;

      &+li {
        padding-left: 10px;

        &::before {
          content: "/";
          border-radius: 50%;
          position: absolute;
          left: 4px;
          top: 6px;
          transform: translateY(-50%);
          color: #1B1B1B;
        }
      }

      &:last-child {

        span {
          color: #868E96;
        }
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        color: #868E96;
      }
    }
  }

  &--white {
    .breadcrumbs__list {
      li {

        color: #fff;

        &+li {

          &::before {
            color: #fff;
          }
        }

        &:last-child {

          span {
            color: #fff;
          }
        }

        &:last-child {
          color: #fff;
          font-weight: 300;
        }
      }
    }
  }
}

/*end breadcrumbs=========*/

.soc {
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #EFEEFA;
    border-radius: 50%;
    overflow: hidden;
    transition: linear .2s;

    svg path {
      transition: linear .2s;
    }

    &:hover {
      background-color: #8D89DA;

      svg path {
        fill: #fff;
      }
    }
  }

  li+li {
    margin: 0 0 0 10px;
  }
}

.pay {
  display: flex;

  li+li {
    margin: 0 0 0 58px;
  }
}

.swiper,
.progres-slider {

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #8D89DA;
    transition: linear .2s;
    z-index: 20;

    svg,
    img {
      width: 18px;
      height: 18px;
    }
  }

  .swiper-button-prev {
    transform: rotate(180deg);
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    background-color: #d9d5f8;
    height: 6px;
    width: 6px;
  }

  .swiper-pagination-bullet-active {
    background-color: #8D89DA;
  }
}

/*start pagination===========*/
.pagination {
  margin: 30px 0 0 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {

    &+li {
      margin-left: 20px;
    }
  }

  a,
  span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    color: #282D3C;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    &.active {
      color: #8D89DA;
    }
  }

  a:hover {
    border-color: #343C66;
    color: #343C66;
  }

  &__last {
    opacity: .9;
    pointer-events: none;

    svg path {
      fill: #fff;
    }
  }

  &__btn-prev,
  &__btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    background-color: #8D89DA !important;
  }

  &__btn-prev.end,
  &__btn-next.end {
    opacity: .6;
  }

  &__btn-prev {
    transform: rotate(180deg);
  }
}

/*end pagination===========*/